@import '~bootstrap/scss/bootstrap';
@import './scss/mixins.scss';
@import './scss/colors.scss';
@import './scss/navigation.scss';
@import './scss/auth.scss';
@import './scss/dashboard.scss';
@import './scss/admin.scss';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
  padding: 0px;
  margin: 0px;
  font-size: 20px;
  min-height: 100vh;
  background-color: #FFFFFF;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.center-main {
  text-align: center;
  padding: 5vh 10vh;
}

.left-main {
  text-align: left !important;
}


.centered-element {
  margin: 0 auto;
  margin-top: 10vh;
  padding:5vh;
  @include border;
}

.main_button {
  background-color: $secondaryColor;
  border: $mainColor;
  margin: 0.5vh;
  &:hover, :focus, :active, :visited {
    background-color: $hoverColor;
    border: $mainColor;
  }
  &:disabled{
    background-color: $secondaryColor;
    border: $mainColor;
  }
}

.icon{
  margin: 0 0.5vh;
}