#recovery-token, #recovery, #login, #activation_token {
	position: relative;
	height: 100vh;

    &-border {
        border: solid 1px $mainColor;
        border-radius: 10px;
        padding: 4rem;
        @include shadow;
    }
}
