#recovery-token, #recovery, #login, #activation_token {
	position: relative;
	height: 100vh;

    &-border {
        margin: auto;
        width: 20vw;
        padding: 4rem;
        @include shadow;
        @include border;
    }
}

.centered{
    margin-top: 10vh;; 
}